<body>
    <main>
        <h1><b>Acuerdo de Usuario Final -EULA-</b></h1>
        <p> Este Acuerdo de Licencia de Usuario Final ("*EULA" o "Acuerdo") es un contrato legalmente vinculante entre
            usted
            (ya sea una persona natural o jurídica, en adelante el "Usuario") y los desarralladores de la aplicación que
            suscriben el
            presente acto, domiciliados en (Barranquilla, Atlantico, Colombia) (en adelante el "Licenciante"), para el
            uso de
            la aplicación de gestión de hojas de vida "MiGestorDocumental", incluyendo cualquier software asociado,
            medios,
            materiales impresos y documentación electrónica o en línea (en adelante, la "Aplicación*").</p>
        <br>
        Al instalar, copiar, acceder o usar la Aplicación, usted acepta regirse por los términos y condiciones de este
        EULA.
        Si no acepta los términos y condiciones de este EULA, no instale, copie, acceda ni use la Aplicación. <br>
        <br>
        <h2><b>1. Otorgamiento de Licencia.</b></h2>

        <p>El Licenciante le otorga a usted una licencia limitada, no exclusiva, intransferible y revocable para
            instalar y usar
            la Aplicación en un dispositivo de su propiedad o bajo su control, únicamente para sus propósitos personales
            y no
            comerciales, de acuerdo con los términos de este EULA. Todos los derechos no otorgados expresamente en este
            EULA son
            reservados por el Licenciante.</p>
        <h2><b>2. Propiedad Intelectual.</b></h2>
        <h3><b>2.1. Titularidad</b></h3>
        <p>La Aplicación, incluyendo pero no limitado a su diseño, código fuente, algoritmos, interfaz de usuario,
            gráficos,
            bases de datos y cualquier material relacionado, es propiedad exclusiva del Licenciante y está protegida por
            las leyes
            de propiedad intelectual de la República de Colombia, las decisiones de la Comunidad Andina de Naciones
            (CAN) sobre
            Propiedad Intelectual y los tratados internacionales suscritos por Colombia en materia de propiedad
            intelectual,
            incluyendo los administrados por la Organización Mundial de la Propiedad Intelectual (OMPI).</p>
        <h3><b>2.2. Restricciones</b></h3>
        <p>Usted no podrá:
            * Modificar, adaptar, traducir, realizar ingeniería inversa, descompilar, desensamblar o intentar derivar el
            código
            fuente de la Aplicación. <br>
            * Distribuir, vender, sublicenciar, arrendar, prestar o de cualquier otra forma transferir la Aplicación o
            cualquier
            parte de ella a terceros. <br>
            * Eliminar, alterar u ocultar cualquier aviso de derechos de autor, marcas registradas o cualquier otro
            aviso de propiedad
            del Licenciante en o sobre la Aplicación. <br>
            * Utilizar la Aplicación de cualquier manera que infrinja los derechos de propiedad intelectual del
            Licenciante o de
            terceros. <br>
        </p>
        <h2><b>3. Protección de Datos Personales.</b></h2>
        <h3><b>3.1. Tratamiento de Datos</b></h3>
        <p>El Licenciante se compromete a tratar los datos personales que el Usuario ingrese en la Aplicación de
            conformidad con
            la *Ley 1581 de 2012* (Ley General de Protección de Datos Personales de Colombia) y sus decretos
            reglamentarios, así
            como cualquier otra norma que la modifique, adicione o derogue.</p>
        <h3><b>3.2. Finalidad del Tratamiento</b></h3>
        <p>Los datos personales recolectados a través de la Aplicación serán utilizados con la finalidad exclusiva de
            permitir al
            Usuario gestionar y organizar su hoja de vida, así como para mejorar las funcionalidades de la Aplicación y
            ofrecer un
            servicio más personalizado. En ningún caso el Licenciante comercializará, compartirá o divulgará sus datos
            personales
            con terceros para fines ajenos a los expresamente autorizados por este EULA o por la ley.</p>
        <h3><b>3.3. Derechos del Titular</b></h3>
        <p>De acuerdo con la Ley 1581 de 2012, el Usuario, como titular de los datos personales, tiene los siguientes
            derechos: <br>
            * Conocer, actualizar y rectificar sus datos personales. <br>
            * Solicitar prueba de la autorización otorgada al Licenciante, salvo cuando la ley exceptúe dicha
            autorización. <br>
            * Ser informado por el Licenciante, previa solicitud, respecto del uso que le ha dado a sus datos
            personales. <br>
            * Presentar quejas ante la Superintendencia de Industria y Comercio por infracciones a lo dispuesto en la
            ley. <br>
            * Revocar la autorización y/o solicitar la supresión del dato cuando en el tratamiento no se respeten los
            principios,
            derechos y garantías constitucionales y legales. <br>
            * Acceder en forma gratuita a sus datos personales que hayan sido objeto de tratamiento. <br></p>
        Para ejercer estos derechos, el Usuario podrá contactar al Licenciante a través de la dirección de correo
        electrónico "juanaaronbritto@·outlook.com".
        <h3><b>3.4. Medidas de Seguridad</b></h3>
        <p>El Licenciante implementará medidas técnicas, humanas y administrativas necesarias para otorgar seguridad a
            los registros evitando su adulteración,
            pérdida, consulta, uso o acceso no autorizado o fraudulento.</p>
        <h2><b>4. Actualizaciones y Soporte</b></h2>
        <p>El Licenciante podrá, a su exclusiva discreción, proporcionar actualizaciones, mejoras o nuevas versiones de
            la Aplicación.
            Estas actualizaciones estarán sujetas a los términos y condiciones de este EULA, a menos que se establezcan
            términos
            diferentes. El Licenciante no se compromete a proporcionar soporte técnico para la Aplicación, a menos que
            se establezca
            lo contrario en un acuerdo de servicio separado.</p>
        <h2><b>5. Exclusión de Garantías</b></h2>
        <p>La Aplicación se proporciona "tal cual" y "según disponibilidad", sin garantías de ningún tipo, ya sean
            expresas o
            implícitas, incluyendo, pero no limitado a, garantías implícitas de comerciabilidad, idoneidad para un
            propósito
            particular y no infracción. El Licenciante no garantiza que la Aplicación funcionará de manera
            ininterrumpida,
            libre de errores o que cualquier defecto será corregido.</p>
        <h2><b>6. Limitación de Responsabilidad</b></h2>
        <p>En ningún caso el Licenciante será responsable por daños indirectos, incidentales, especiales,
            consecuenciales o
            punitivos, incluyendo, sin limitación, la pérdida de beneficios, datos, uso, fondo de comercio u otras
            pérdidas
            intangibles, resultantes de (i) su acceso o uso o incapacidad de acceder o usar la Aplicación; (ii)
            cualquier conducta
            o contenido de terceros en la Aplicación; (iii) cualquier contenido obtenido de la Aplicación; y (iv) el
            acceso, uso o
            alteración no autorizado de sus transmisiones o contenido, ya sea basado en garantía, contrato, agravio (
            incluyendo negligencia) o cualquier otra teoría legal, incluso si el Licenciante ha sido informado de la
            posibilidad
            de tales daños.</p>
        <h2><b>7. Terminación</b></h2>
        <p>Este EULA es efectivo hasta que sea terminado por usted o por el Licenciante. Usted puede terminar este EULA
            en cualquier
            momento desinstalando y destruyendo todas las copias de la Aplicación en su posesión. El Licenciante puede
            terminar
            este EULA en cualquier momento y por cualquier motivo, sin previo aviso. Tras la terminación, usted debe
            cesar todo uso
            de la Aplicación y destruir todas las copias de la misma.</p>
        <h2><b>8. Ley Aplicable y Jurisdicción</b></h2>
        <p>Este EULA se regirá e interpretará de conformidad con las leyes de la República de Colombia, sin dar efecto a
            sus
            principios de conflicto de leyes. Cualquier disputa que surja de o en conexión con este EULA será sometida a
            la
            jurisdicción exclusiva de los tribunales de la ciudad de [*Ciudad de Domicilio del Licenciante*], Colombia.
        </p>
        <h2><b>9. Disposiciones Generales</b></h2>
        <p>Este EULA constituye el acuerdo completo entre usted y el Licenciante con respecto a la Aplicación y
            reemplaza todos
            los acuerdos anteriores o contemporáneos, escritos u orales, con respecto a dicho tema. Si alguna
            disposición de este
            EULA se considera inválida o inaplicable, dicha disposición se interpretará de manera que refleje la
            intención original
            de las partes, y las disposiciones restantes permanecerán en pleno vigor y efecto. La falta del Licenciante
            de hacer
            cumplir estrictamente cualquier disposición de este EULA no constituirá una renuncia a dicha disposición ni
            a ningún
            otro derecho.</p><br>
        <p>Al hacer clic en "Acepto" y usar la Aplicación, usted reconoce que ha leído, entendido y aceptado, de manera
            consciente, espontanea
            y libre de todo vicio de consentimiento, los términos y condiciones de este EULA.</p>

        <p>Suscriben el presente acto los desarrolladores:
        <ol>
            <li>Juan Fernando Aarón Britto</li>
            <li>Yoshira Skarleth Barros Bernal</li>
            <li>Martin Escobar Mercado</li>
            <li>Daniela Andrea Martínez Quinto</li>
            <li>Giselle Andrea Palencia Toro</li>
            <li>Felipe Miguel Palmar Ramírez</li>
        </ol>
        </p>
        <button>Lo siento todos, no acekto.</button>

    </main>
</body>

</html>