<!-- Home View -->
<section id="landing">
    <header class="landing-header">
        <h1>resume manager</h1>
        <nav>
            <button id="go-to-login">Log In</button>
            <button id="go-to-register">Sing Up</button>
        </nav>
    </header>

    <main class="landing-main">
        <section class="landing-text">
            <h2></h2>
            <p>At <strong>Resume Manager</strong> You can manage your own 
            resume or as a company, the company's resumes to facilitate 
            the resume evaluation process</p>
            <div class="landing-cta">
                <button id="cta-login">I already have an account</button>
                <button id="cta-register">I Want  to Sign up</button>
            </div>
        </section>

        <div class="landing-img">
            <img src="" alt="HV-Example57"/>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 resume manager-app. All rights reserved.</p>
      </footer>
</section>