<section id="registro">
  <h1>Registro de Usuario</h1>

  <form id="formRegistroUsuario">
    <input type="text" id="nombre" placeholder="Nombre completo" required />
    <input type="text" id="documento" placeholder="Documento de identidad" required />
    <input type="email" id="correo" placeholder="Correo electrónico" required />
    <input type="password" id="contrasena" placeholder="Contraseña" required />
    
    <button id="btn-register" type="submit">Registrarse</button>
    <a href="#" id="register-go-home">Volver al inicio</a>
  </form>
</section>
