<section id="registro">
  <h1>Registro de Usuario</h1>

  <form id="formRegistroUsuario">
    <input type="text" id="nombre" placeholder="Nombre completo" required />
    <input type="number" id="documento" placeholder="Documento de identidad" required />
    <input type="email" id="correo" placeholder="Correo electrónico" required />
    <input type="password" id="contrasena" placeholder="Contraseña" required />
    
    <button type="submit">Registrarse</button>
    <a href="index.html">Volver al inicio</a>
  </form>
  <!-- Al final del body -->
<script type="module" src="../logic/register.js"></script>
</section>
