<section id="registro">
    <h1>Registro de Administradores</h1>

    <form id="register-form">
        <input type="text" id="" placeholder="Nombre completo" required />
        <input type="number" id="document" placeholder="Documento de identidad" required />
        <input type="email" id="email" placeholder="Correo electrónico" required />
        <input type="password" id="password" placeholder="Contraseña" required />
        <label for="role">Usuario</label>
        <select id="role-options">
            <option value="coder">Coder</option>
            <option value="admin">Admin</option>
        </select>

        <button id="btn-register" type="submit">Registrarse</button>
        <a href="#" id="register-go-dashboard">Volver al Dashboard</a>
    </form>
</section>